@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* navbar */

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    background-color: #111010;
    height: 100px;
}

main {
    padding-top: 100px;
}

.logo {
    height: 60px;
    position: relative;
    left: 100px;
    cursor: pointer;
}

.mainNav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    color: #9A9999;
    font-weight: 500;
    position: relative;
    gap: 35px;
    cursor: pointer;
    top: 10px;
}

#mainNavItem:hover {
    /* text-decoration: underline #0C8BFD; */
    padding-bottom: 10px;
    border-bottom: 5px solid #0C8BFD;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

#mainNavItem-firstNav {
    padding-bottom: 10px;
    border-bottom: 5px solid #0C8BFD;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.loginButton {
    background-color: #0C8BFD;
    color: #ffffff;
    position: relative;
    padding: 15px 40px;
    border-radius: 23px;
    font-size: 18px;
    font-weight: 500;
    right: 100px;
    cursor: pointer;
}

/* Hero Section */

.heroSection {
    background-color: #111010;
    height: 800px;
    display: flex;
}

.leftHero {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100px;
    top: 100px;
}

.heroHeading {
    color: #ffffff;
    font-size: 80px;
    text-align: left;
    width: 650px;
    font-weight: 600;
    position: relative;

}

.blueSpan {
    color: #0C8BFD;
    font-style: italic
}

.heroSubHeading {
    color: #9A9999;
    font-size: 22px;
    font-weight: 400;
    width: 550px;
    position: relative;
    top: 25px;
    line-height: 40px;
    text-align: start;
}

.heroButtons {
    display: flex;
    gap: 50px;
    position: relative;
    top: 80px;
}

.blueButton {
    background-color: #0C8BFD;
    color: #ffffff;
    padding: 18px 30px;
    border: none;
    border-radius: 30px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #111010;
}

.blueButton:hover {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.darkButton {
    background-color: transparent;
    color: #ffffff;
    padding: 18px 30px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.darkButton:hover {
    background-color: #0C8BFD;
}


.heroImage {
    position: relative;
    right: -500px;
    top: 100px;
    height: 600px;
}